@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');

body{
    background-color: #0a0b0f;
    font-family: 'VT323';
    color: #7fff00;
}

hr{
    border-color: #7fff00;
}

.profile{
    width: 250px;
    height: 250px;
}

